.toyTypeCard {
    width: 570px;
    height: 188px;
    border-radius: 16px;
  }
  .toyTypeCard__inner {
    display: flex;
    align-items: center;
  }
  
  .toyTypeCard__text button {
    padding: 15px 30px;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 40px;
    color: black;
  }
  
  .rightSide {
    flex-direction: row-reverse;
  }